#All hidden files (Vagrant, PHP Storm, Kdevelop, editor swap, etc...)
.*

# Dont ignore .gitignore (this file), or .mailmap
# This is just for verbosity
!/.gitignore
!/.mailmap

#sqlite3 databases.
#Users should create their own database from the provided .sql files
#This prevents multiple copies of the database from becoming unsynced
*.sqlite3

#Backup files
*~

#Kdevelop project files
*.kdev4

#Generated API documenation
Documentation/api/

#Ignore all composer files
composer.json
composer.lock
vendor/

node_modules/
