Alexander Flegel (aflegel)      <alexander.flegel@omnilogic.net>
Arthur Moore (EmperorArthur)    <Arthur.Moore.git@cd-net.net>
Cedric Reinhardt (FullSimplex)  <reinhardt@next-loop.com>           <reinhardt@oook.ch>
Cedric Reinhardt (FullSimplex)  <reinhardt@next-loop.com>
Ian Ruotsala (boomzilla)        <ian.ruotsala@gmail.com>
Russell Bewley (rbewley4)       <russell.bewley@shazam.com>         <rbewley4@gmail.com>
Russell Bewley (rbewley4)       <russell.bewley@shazam.com>
ejiblabahaba                    <creatureman@gmail.com>
mace666                         <mace666@hotmail.com>
stoogoff                        <stoo.goff@gmail.com>
Sumguy62                        <Sumguy62@users.noreply.github.com>
