/* All CSS relating to popups */

/*===============POPUP BUTTONS=====================*/

.popupInnerButton{
    height: 55px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
/*  Make the button oval shaped */
    border-radius: 40px;
    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);
}

.popupInnerButton:hover {
    color: rgb(186, 0, 80);
    background-color: rgba(254, 254, 254, .85);
}

/*===============POPUPS=====================*/

/*Validation*/
.valideIcone{
	color: #48ffaa;
}

.invalidIcone{
	color: #f41010;
}
