/* All CSS relating to popups */

/*===============POPUP BUTTONS=====================*/

.popupInnerButton{
    height: 55px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
/*  Make the button oval shaped */
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);
}

.popupInnerButton:hover {
    color: rgb(186, 0, 80);
    background-color: rgba(254, 254, 254, .85);
}

/*===============POPUPS=====================*/

#popup {
    opacity: 0;
    visibility: hidden;

    /* centered */
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);

    width: 85%;
    height: 80%;

    display: inline-block;
    padding: 15px;
    text-align: justify;
    z-index: 2;
    transition: opacity .5s;
}

#popup, .popup {
    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);

    border-radius: 10px;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    transition: opacity .5s;
}

#loading_popup {
    /* centered */
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);

    display: inline-block;
    opacity: 1;
    padding: 15px;
    text-align: justify;
    z-index: 9000; /* This should be on top of everything else */

    width: 25%;
    height: 3%;

    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);

    border-radius: 10px;

    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.popup_table{
	border: 0;
	width: 70%;
	font-family: 'Lato', sans-serif;
    text-align: left;
    text-decoration: none;
	text-transform: uppercase;
}

.popup_contents{
    text-align:center;
}

.popup_table input{
	height: 1em;
}

/*Validation*/
.valideIcone{
	color: #48ffaa;
}

.invalidIcone{
	color: #f41010;
}

/*paypalButton*/
#paypalButton{
	width: auto !important;
	height: auto !important;
}
