@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-user, .icon-users, .icon-star, .icon-equalizer, .icon-cog-2, .icon-equalizer-2, .icon-heart, .icon-star-2, .icon-question, .icon-checkmark-circle, .icon-eye, .icon-tools, .icon-brain, .icon-globe, .icon-users-2, .icon-tshirt, .icon-user-2, .icon-cart, .icon-contrast, .icon-circle, .icon-radio-unchecked, .icon-moxie, .icon-credit, .icon-cancel-circle, .icon-plus-circle, .icon-minus-circle {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cog:before {
	content: "\21";
}
.icon-user:before {
	content: "\22";
}
.icon-users:before {
	content: "\23";
}
.icon-star:before {
	content: "\24";
}
.icon-equalizer:before {
	content: "\25";
}
.icon-cog-2:before {
	content: "\26";
}
.icon-equalizer-2:before {
	content: "\27";
}
.icon-heart:before {
	content: "\28";
}
.icon-star-2:before {
	content: "\29";
}
.icon-question:before {
	content: "\2a";
}
.icon-checkmark-circle:before {
	content: "\2b";
}
.icon-eye:before {
	content: "\2c";
}
.icon-tools:before {
	content: "\2d";
}
.icon-brain:before {
	content: "\2e";
}
.icon-globe:before {
	content: "\2f";
}
.icon-users-2:before {
	content: "\30";
}
.icon-tshirt:before {
	content: "\31";
}
.icon-user-2:before {
	content: "\32";
}
.icon-cart:before {
	content: "\33";
}
.icon-contrast:before {
	content: "\34";
}
.icon-circle:before {
	content: "\35";
}
.icon-radio-unchecked:before {
	content: "\36";
}
.icon-moxie:before {
	content: "\37";
}
.icon-credit:before {
	content: "\38";
}
.icon-cancel-circle:before {
	content: "\39";
}
.icon-plus-circle:before {
	content: "\3a";
}
.icon-minus-circle:before {
	content: "\3b";
}
