/* All CSS relating to popups */

/*===============POPUP BUTTONS=====================*/

/* All the buttons */
#menu{
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 3;
}

.popupButton{
    height: 3.5em;
    width: 6em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    text-transform: uppercase;
    padding-left: 1.25em;
/*  Make the button oval shaped */
    border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
/*  No top/bottom button shadow */
    border-top: 0;
    border-bottom: 0;
    margin: 1px;
}

.popupButton:hover {
  color: rgb(186, 0, 80);
  background-color: rgba(254, 254, 254, .85);
}

.button_icone{
	display: block;
	line-height: 3em;
	width: 3em;
	height:3em;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 1em;
	opacity: 1;
}

.popupInnerButton{
    height: 55px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
/*  Make the button oval shaped */
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);
}

.popupInnerButton:hover {
    color: rgb(186, 0, 80);
    background-color: rgba(254, 254, 254, .85);
}

/*===============POPUPS=====================*/

#popup {
    /* centered */
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);

    display: inline-block;
    opacity: 0;
    padding: 15px;
    text-align: justify;
    visibility: hidden;
    z-index: 2;

    width: 85%;
    height: 80%;

    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#loading_popup {
    /* centered */
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);

    display: inline-block;
    opacity: 1;
    padding: 15px;
    text-align: justify;
    z-index: 100; /* This should be on top of everything else */

    width: 25%;
    height: 3%;

    color: hsl(200,10%,40%);
    background-color: rgba(242, 242, 242, .8);
    border-top: 1px solid rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgba(148,155,153,.8);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.popup_table{
	border: 0;
	width: 60%;
	font-family: 'Lato', sans-serif;
    text-align: left;
    text-decoration: none;
	text-transform: uppercase;
}

.popup_contents{
    text-align:center;
}

.popup_table input{
	height: 1em;
}

/*Validation*/
.valideIcone{
	color: #48ffaa;
}

.invalidIcone{
	color: #f41010;
}

/*paypalButton*/
#paypalButton{
	width: auto !important;
	height: auto !important;
}
